.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  &-right {
    .button-group {
      @include flexbox(end);
    }

    .gnb-search-button {
      margin-right: 4px;
    }
  }

  &-icon-button {
    @include flexbox;
    width: 32px;
    height: 32px;
    font-size: 24px;
    color: $secondary;
  }

  .gnb-auth {
    margin-left: 8px;

    a {
      @include text-style(14, $secondary);
      font-weight: 700;

      &:first-child {
        margin-right: 12px;
      }

      &:hover {
        color: $blue;
      }
    }
  }

  &-menu-button {
    color: $blue;
  }

  .gnb-auth {
    margin-left: 8px;

    a {
      @include text-style(14, $secondary);
      font-weight: 700;

      &:first-child {
        margin-right: 12px;
      }

      &:hover {
        color: $blue;
      }
    }
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }
    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }
}
